<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos - Adicionar</title>
</head>
<body>
    <h1>Cadastro de Alunos</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li>
            <a href="/">Listar</a>
        </li>
    </ul>
    <hr>