<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Alunos</title>
    <style>
        body {
            background:#4d004d;
        }
        p{
            color: white;
            font-family: 'Times New Roman', Times, serif;
        }
        a {
            text-decoration: none;
        }

        h1{
            text-align: center;
            color: white;
        }

        ul {
            text-align: center;
        }

        li {
            text-align:center;
            display: inline;
            border-left: black solid;
            padding: 5px;
            margin: 5px;
            padding-top: 15px;
            padding-bottom: 18px;
            background-color:#ff99ff;
        }
        li:hover{
            background-color: cornflowerblue;
        }

        li a {
            display: inline-block;
            padding: 10px;
        }
        table {
            text-align: center;
            margin-top: 10px;
            border-collapse: collapse;
            border: solid black 2px;
        }

        th, td{
            padding 5px;
            border: solid black 1px;
        }
    </style>
</head>
<body>
    <h1>CADASTRO DE ALUNOS</h1>
    <ul>
        <li>
            <a href="/add">Adicionar</a>
        </li>
        <li>
            <a href="/">Listar</a>
        </li>
    </ul>
    <hr>